.nutrition-form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.form-foods {
	border-color: rgba(240,190,210,1);
}

.nutrient-container {
	display: flex;
	margin-top: 2rem;
	margin-bottom: 2rem;
	flex-wrap: wrap;
}

.food-input {
	min-width: 3em;
}

.food-input-cal {
	min-width: 4em;
}

.food-input-submit {
	min-width: 8em;
}

.nutrient-container-sm {
	text-align: center;
	width: 25%;
}

.nutrient-container-md {
	text-align: center;
	width: 25%;
}

.nutrient-container-l {
	text-align: center;
	width: 100%;
}

.search-btn {
	margin-top: .15rem;
}

@media (max-width: 1748px) {
	.search-container {
		margin-left: auto !important;
		margin-right: auto;
	}

}

@media (max-width: 1500px) {
	.ml-shrink {
		margin-left: auto !important;
		margin-right: auto;
	}

	h1 {
		text-align: center;	
	}
}

